{% extends "base.html" %}

{% block title %}Home | Rento{% endblock %}

{% block content %}
<div class="home-header">
  <h1>Explore Our Cars</h1>
  <a href="/cars" class="add-car-btn">+ Add New Car</a>
</div>
<section id="cars" class="car-cards-section">
  <div class="car-cards-container">
    {% for car in cars %}
    <div class="car-card">
      <img src="{{ car.image_url }}" alt="{{ car.brand }} {{ car.model }}">
      <h2>{{ car.brand }} {{ car.model }}</h2>
      <p class="car-price"><span>Price:</span> ${{ car.price_per_day }}/Day</p>
      <div class="card-actions">
        <a href="/cars/{{ car.id }}" class="edit-btn">Edit</a>
        <a href="/delete/{{ car.id }}" class="delete-btn" onclick="return confirm('Are you sure you want to delete this car?')">Delete</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}

